<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCYIOTl8FJWh4nB5JvRZRF-mxxzzvYf_hk</string>
	<key>GCM_SENDER_ID</key>
	<string>179107539448</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.blogapp.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>flutter-portfolio-blog-app</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-portfolio-blog-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:179107539448:ios:4d4e5f53651476aaf48e0d</string>
</dict>
</plist>